<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to notes registration(only for new user)</title>
</head>
<body>
<p>
    {{message}}
</p>
  <div class = "register-btn">
      <a href="http://127.0.0.1:8000/login">Login</a>
      <form method="post">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="password" name="password">
        <input type="text" placeholder="email" name="email">
        <input type="text" placeholder="location" name="location">
        <button type="submit">Registration</button>
      </form>
  </div>
</body>
</html>